@page "/logout"

<h3>Você está fazendo logoff...</h3>

@code {
    [Inject]
    public NavigationManager? NavigationManager { get; set; }
    [Inject]
    public IS4AuthenticationStateProvider? C_IS4AuthenticationProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        await C_IS4AuthenticationProvider!.Logout();
        NavigationManager!.NavigateTo("/");
    }
}
