@page "/painel"

<h3>PainelControle</h3>

<p>@C_MensagemErro</p>

<DataGrid TItem="IdentityUser" Data="C_Usuarios">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(IdentityUser.Id)" Caption="Id" />
        <DataGridColumn Field="@nameof(IdentityUser.UserName)" Caption="Nome"/>
        <DataGridColumn Field="@nameof(IdentityUser.Email)" Caption="E-mail" />
    </DataGridColumns>
</DataGrid>

<Card>
    <CardBody>
        <CardTitle Size="3">
            Usuário
        </CardTitle>
        <CardText>
            <ul>
                <li>@C_Usuario!.Id</li>
                <li>@C_Usuario!.UserName</li>
                <li>@C_Usuario!.Email</li>
                <li>@C_Usuario!.PhoneNumber</li>
            </ul>
        </CardText>
    </CardBody>
</Card>
